body{
    font-size: 11px;
}
input.form-inp
{
    width: 40%;
}

input.form-inp-no
{
    width: 20%;
}
input.form-inp-nol
{
    width: 15%;
}

.form-horizontal .control-label 
{
    text-align: left;
}
.control-label-default 
{
    text-align: right;
}
div.suppl_form
{
     float: left;
    height: auto;
    width: 100%;
}
input.form-inp-med{
    width: 175px;
}

div.matchheight{
    height: 40px;
}

.btn-custom { background-color: hsl(214, 37%, 28%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a99c1", endColorstr="#2c4361"); background-image: -khtml-gradient(linear, left top, left bottom, from(#7a99c1), to(#2c4361)); background-image: -moz-linear-gradient(top, #7a99c1, #2c4361); background-image: -ms-linear-gradient(top, #7a99c1, #2c4361); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7a99c1), color-stop(100%, #2c4361)); background-image: -webkit-linear-gradient(top, #7a99c1, #2c4361); background-image: -o-linear-gradient(top, #7a99c1, #2c4361); background-image: linear-gradient(#7a99c1, #2c4361); border-color: #2c4361 #2c4361 hsl(214, 37%, 19.5%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56); -webkit-font-smoothing: antialiased; }

.bankmodelwidth
{
    width: 750px;
}
div#bankswitchmode .active
{
    color: white;
    background-color: #71CB52;
    border-color: #71cb52;
}
div#bankswitchmode span
{
    font-weight: bold;
    margin-right: 8px;
    margin-top: 4px;
}

.btn-grey {
  background-color: hsl(70, 11%, 23%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b7f66", endColorstr="#3e4134");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#7b7f66), to(#3e4134));
  background-image: -moz-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -ms-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7b7f66), color-stop(100%, #3e4134));
  background-image: -webkit-linear-gradient(top, #7b7f66, #3e4134);
  background-image: -o-linear-gradient(top, #7b7f66, #3e4134);
  background-image: linear-gradient(#7b7f66, #3e4134);
  border-color: #3e4134 #3e4134 hsl(70, 11%, 17.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}
.tile-header {
padding-bottom: 5px;
}
h4.orderText
{
    font-size: 12px;
    font-weight: bold;
}
.btn-default{
    text-shadow:0 0 0 #fff;
}
.col-lg-new-2
{
    padding: 0 0 0 40px;
    width: 137px;
     text-align: left;
}
.col-lg-new-2 > h5 {
    font-weight: bold;
}



/*
.twitter-typeahead {
    width: 100%;
    position: relative;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
    width:100%;
    height: 34px;
    position: absolute;
    top:0;
    left:0;
}
.twitter-typeahead .tt-hint {
    color:#a1a1a1;
    z-index: 1;
    padding: 6px 10px;
    border:1px solid transparent;
}
.twitter-typeahead .tt-query {
    z-index: 2;
    border-radius: 4px!important;
     add these 2 statements if you have an appended input group 
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
     add these 2 statements if you have an prepended input group 
     border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important; 
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    width: 100%;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;*/

/* scaffolding */
/* ----------- */



.tt-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */




.typeahead,
.tt-query,
.tt-hint {
    margin-bottom: 0;
    width:100%;
    height: 34px;
    position: absolute;
    top:0;
    left:0;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    width: 100%;
}

.tt-suggestion {
  padding: 3px 15px;
  font-size: 14px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}
span.twitter-typeahead
{
    display: block !important;
}

.accountsamountpayable
{
    border-radius: 10px;
    display: inline-block;
    float: right;
    height: 35px;
    padding-left: 7px;
    text-align: left;
    width: 20%;
}
.accountsamountpayable h5{
    font-size: 15px;
}
.batchclass
{
      padding-top: 65px;
}
.notetiles{
    width: 11%;
}
.cursorpointer
{
    cursor: pointer;
    font-size: 10px;
}
.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
    font-size: 18px !important;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

input[type="checkbox"][name="selectItemoperator_id[]"]
{
    margin-top: -2px;
}
input[type="checkbox"][name="selectAlloperator_id[]"]
{
    margin-top: -2px;
}

input.squaretextbox
{
    border-radius: 0px; 
    padding: 5px; 
    height: 30px;
    width: 40px;
}
div.dashboardsidebar
{
     position: fixed;
    right: 90px;
    top: 60px;
    width: 100%;
    z-index: 9999;
}
div#todaysorderlisting
{
  float: right;
   
}

button#slidetodaysorder
{
     float: right;
    margin-top: 4px;
}

table.gridtable > thead > tr > th, .gridtable > tbody > tr > th, .gridtable > tfoot > tr > th, .gridtable > thead > tr > td, .gridtable > tbody > tr > td, .gridtable > tfoot > tr > td{ border: 1px solid grey !important ;}


.batchclass.batch1 i {
    font-size: 10px;
}

.apivendorbackground
{
    background-color: rgb(153, 192, 174);
}
.autowidth
{
    width:auto !important;
}
.font12{
    font-size: 12px;
}
td.supplierlink a{
    color: #800000;
}
input.smallheight
{
    height: 26px !important;
}
.marginbt5
{
    margin-bottom: 5px !important;
}
.marginlt10
{
    margin-left:-10px;
    border-radius: 5px;
}
.marginrt10
{
    margin-right:-10px;
    border-radius: 5px;
}
.notesusername
{
     color: #003bb3;
    font-weight: 700;
}
.glyphicon-refresh-animate {
    -moz-animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}
.inputwidth95
{
  width: 95px;
}
.inputwidth125
{
  width: 125px;
}
#navbarnotificationbell span.badge
{
    background-color: red;
    padding: 2px 5px;
     font-size: 11px;
}

.notify-arrow-red {
    border-bottom-color: #ff6c60 !important;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: #ff6c60 !important;
}
.notify-arrow {
    border-style: solid;
    border-width: 0 9px 9px;
    height: 0;
    left: 7px;
    margin-top: 10px;
    opacity: 1;
    position: absolute;
    top: -18px;
    transition: all 0.25s ease 0s;
    width: 0;
    z-index: 10;
}
.fa-2
{
    font-size: 15px !important
}

/*a.highlightitle {
  color: #900;
  text-decoration: none;
}*/

a.highlightitle:hover {
  color: green;
  position: relative;
}

a.highlightitle[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  z-index: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}

 .salebifurcation tbody tr:hover td, .table-hover tbody tr:hover th
{
       background-color: orange;
}
.font10
{
    font-size: 10px;
}

input[type="checkbox"][name="selectItemvendor_id[]"]
{
    margin-top: -2px;
}
input[type="checkbox"][name="selectAllvendor_id[]"]
{
    margin-top: -2px;
}
.bg-lightblue
{
    background-color: rgba(190, 220, 234, 0.95);
    color: #333;
}

label.label13px{
    font-size: 13px;
}